*{
    box-sizing: border-box;
}
body{
   
    align-items: center;
}
form{
    margin:  0;
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}
a{
    font-weight: bold;
    text-decoration: none;
}
p{
    margin: 0;
}
input{
    margin:4px;
    padding:4px;  
    border: unset;
    border-bottom: 1px  solid #e3e3e3;
    
}
button{
    padding: 0px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}
.msg{
    border: 2px solid   #e3e3e3;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: rgb(255, 255, 255);
    border-collapse: collapse;
    text-align: left;
  }

  td {
    color: #669;
    padding: 0;
    transition: .3s linear;
    border-style: solid;
    border-width: 0 1px 1px 0;

  }
  tr:hover td {
    color: #6699ff;
  }
.edit{
  width: 100px;
}
